body, html
	position: relative
	width: 100vw
	height: 100vh
	margin: 0
	padding: 0

.content
	background: rgba(0,0,0,0.5)
	display: inline-block
	font-family: sans-serif
	color: #fff
	text-align: center
	width: 100%
	height: 40px
.clock, span
	color: white
	border: none
	line-height: 90px
	text-align: center
	font-size: 90px
	font-family: "Futura Bk BT"
.clock
	width: 500px
	background: rgba(0, 0, 0, 0.5)
span
	background: transparent
	padding: 0
	display: inline-block
	width: 120px